body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


/*

Style our app according to the provided design!

green color -> #24A310

*/

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    border: 1px solid #24a310;
    height: 40px;
}

button {
    height: 35px;
    width: 25%;
    border: none;
    background-color: #24a310;
    color: #fff;
    font-weight: bold;
    padding: 10px, 20px;
}


/* STYLE THE LIST ACCORDING TO THE DESIGN */

ul {
    color: #24a310;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    color: #24a310;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}

li a:hover {
    color: #fff;
    background-color: #24a310;
    border: none;
}

li a {
    color: #24a310;
}