body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


/*

Style our app according to the provided design!

green color -> #5f9341

*/

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    border-color: #5f9341;
    height: 30px;
}

button {}